<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DB Oven Observer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='observer.css') }}">
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='cytoscape.min.js') }}"></script>

</head>

<body>

    <script>
        window.APP_PREFIX = "{{ prefix }}";
    </script>

    <div class="container">

        <h1>DB Oven Observer <span class="led red" id="connectionLed"></span></h1>

        <!-- Oven Status -->
        <div class="quick-commands" id="ovenStatusBox">

            <h2>Oven Status</h2>

            <div class="status-row">

                <div id="tempGauge" style="width:200px;height:200px;"></div>

                <div class="gauge-labels">
                    <div class="gauge-row"><span class="status-label">Tmin:</span> <span id="labelTmin">0</span>°C</div>
                    <div class="gauge-row"><span class="status-label">Ttarget:</span> <span id="labelTtarget">0</span>°C
                    </div>
                    <div class="gauge-row"><span class="status-label">Tmax:</span> <span id="labelTmax">0</span>°C</div>
                    <div class="gauge-row"><span class="status-label">Toven:</span> <span id="labelToven">0</span>°C
                    </div>
                    <div class="gauge-row"><span class="status-label">Tinst:</span> <span id="labelTinst">0</span>°C
                    </div>
                </div>

                <div id="burninClock" style="width:200px;height:200px;"></div>

                <div class="gauge-labels">

                    <div class="gauge-row">
                        <span class="status-label">Batch ID:</span>
                        <span id="statusBatchId">-</span>
                    </div>

                    <div class="gauge-row">
                        <span class="status-label">RunTotal:</span>
                        <span id="statusRunTotalMins">00:00:00</span>
                    </div>

                    <div class="gauge-row">
                        <span class="status-label">Accrued:</span>
                        <span id="statusBurninAccruedSecs">00:00:00</span>
                    </div>

                    <div class="gauge-row">
                        <span class="status-label">Running:</span>
                        <span id="statusRunningTime">00:00:00</span>
                    </div>

                </div>

            </div>


            <div id="ovenStateGraph-container">

                <div id="ovenStateGraph"></div>

                <div class="status-row leds">
                    <div class="led-item">Heater <span class="led red" id="ledHeater"></span></div>
                    <div class="led-item">Run <span class="led red" id="ledRun"></span></div>
                    <div class="led-item">BurninDone <span class="led red" id="ledBurninDone"></span></div>
                    <div class="led-item">LV0 <span class="led red" id="ledLV0"></span></div>
                    <div class="led-item">LV1 <span class="led red" id="ledLV1"></span></div>
                    <div class="led-item">LV2 <span class="led red" id="ledLV2"></span></div>
                    <div class="led-item">LV3 <span class="led red" id="ledLV3"></span></div>
                    <div class="led-item">LVPower <span class="led red" id="ledLVPower"></span></div>
                </div>

            </div>

        </div>

    </div>




    </div>

    <script src="{{ url_for('static', filename='observer.js') }}"></script>

</body>

</html>